    <div ng-repeat="category in name">
      
      <h3 class="highlightable choiceheader" ng-style="category.persistentType" ng-click="lister(category.type);"><strong>{{category.tit}}</strong>: {{category.p.name}}</h3>
      
      <div class="{{category.type}} hidden btn-group" role="group" ng-repeat="choices in category.list">
        <button class="btn btn-primary" ng-click="changer(category.type, choices, category.select)"> 
			    {{choices.name || "None"}}
		    </button>
      </div>
    </div>